body{
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background:#d9e2ea;
}

.back-button{
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    background-color: #b7c9d9;
    padding: 10px 18px;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

.back-button:hover{
    background-color: #9fb4c6;
}


/* Layout */
.container{
    width:1100px;
    margin:50px auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

/* Title */
.title{
    font-size:50px;
    font-weight:bold;
    line-height:70px;
}

.title span{
    background:#b7c9d9;
    padding:5px 15px;
}

.subtext{
    font-size:14px;
    margin:10px 0;
    font-style:italic;
    color:#444;
}

hr{
    width:80%;
    margin:20px 0;
}

/* Left */
.left{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.profile-img{
    width:320px;
    border:2px solid #333;
    padding:10px;
    background:white;
}

.profile-img img{
    width:100%;
    height:auto;
}

/* Section Title */
.section-title{
    font-size:30px;
    font-weight:bold;
    margin:25px 0 10px;
    text-align:center;
}

.section-title span{
    background:#b7c9d9;
    padding:3px 15px;
}

/* Box */
.box{
    background:#f1f1f1;
    padding:20px;
    margin-bottom:30px;
    width:100%;
}

ul{
    list-style:none;
    padding:0;
}

li{
    margin-bottom:8px;
}

/* Respon*
body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
}

/* สร้างเลเยอร์พื้นหลัง */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("sky.jpg") no-repeat center center/cover;
    opacity: 0.30; /* ปรับความจางตรงนี้ */
    z-index: -1;
}

